parameters:
	level: 1
	paths:
		- includes
		- jump-to-checkout.php
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
	excludePaths:
		- vendor/
		- node_modules/ (?)

